version: "3.8"
services:
  mysql:
    image: mysql:latest
    container_name: mysql_container
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: "123456"
      MYSQL_DATABASE: travessia
      MYSQL_USER: login_app
      MYSQL_PASSWORD: "123456"
    ports:
      - "3307:3306"
    volumes:
      - mysql_data:/var/lib/mysql

  travessia-cadastro-app:
    build: .
    ports:
      - "8080:8080"
    environment:
      - SPRING_PROFILES_ACTIVE=prod
      - JAVA_OPTS=-Xmx512m
    volumes:
      - ./logs:/app/logs
    restart: unless-stopped

volumes:
  mysql_data:
